<div class="modal-header bg-dark">
    <h4 class="modal-title text-white">NUEVO REGISTRO DE USUARIO</h4>
    <button (click)="closeMOdal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onSubmit()" id="formUser" [formGroup]="formGroup">
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input autocomplete="off" matInput formControlName="username">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tipo de Colaborador</mat-label>
                    <mat-select (selectionChange)="changePwValidators($event)" formControlName="company">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let wType of workerType" [value]="wType.name">
                            {{wType.valor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Nombre completo</mat-label>
                    <input autocomplete="off" matInput formControlName="fullname">
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="formGroup.controls?.company.value=='externo'" class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input autocomplete="off" type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input type="password" autocomplete="off" matInput formControlName="passwordr">
                    <mat-error *ngIf="formGroup.controls.passwordr.errors?.confirm">Las contraseñas no coinciden</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input autocomplete="off" matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirmar email</mat-label>
                    <input autocomplete="off" matInput formControlName="emailr">
                    <mat-error *ngIf="formGroup.controls.emailr.errors?.confirm">Los correos no coinciden</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Área</mat-label>
                    <mat-select formControlName="area">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let area of areas" [value]="area.name">
                            {{area.valor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input autocomplete="off" matInput formControlName="cellphone">
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Comentario</mat-label>
                    <textarea formControlName="commentUser" rows="2" matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 form-group">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="status">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let sts of statusEntity" [value]="sts.value">
                            {{sts.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 text-right">
                <strong class="text-secondary">
                    Perfiles:
                </strong>
            </div>
            <div *ngIf="roles; else loading" class="col-md-9">
                <div class="row">
                    <div *ngFor="let rol of roles; index as i" class="col-md-4">
                        <mat-checkbox [value]="rol.id" (change)="checked($event)" [checked]="checkedIf(rol.id)" class="rol-box w-100">
                            {{ rol.displayName }}</mat-checkbox>
                    </div>
                </div>
            </div>
            <ng-template #loading>
                <div class="col-md-4">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </ng-template>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" [disabled]="disableControl" (click)="closeMOdal()">CERRAR</button>
    <button type="submit" [ngClass]="{'btn-dark': (disableControl === false), 'btn-warning': (disableControl === true)}"
        class="btn" [disabled]="disableControl" form="formUser">
        <i *ngIf="disableControl" class="fas fa-spin fa-cog"></i>
        {{ disableControl === true ? 'ENVIANDO' : 'ACEPTAR' }}</button>
</div>