<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- <div class="card-header">
TMR
</div> -->
                <div class="card-body p-4 justify-content-between">
                    <div class="row">
                        <div class="col-6">
                            <h4>Buenos días, Usuario Administrador</h4>
                        </div>
                        <div class="col-6 text-right">
                            <h4 class="">{{ today | today }}</h4>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-white">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>