body{
    background-color: #F9F9F9;
    padding-top: 0px;
    height: 100%;
    position: relative;
    font-size: 13px;
}

// Form Field full width
.w-100 {
    display: block;
    width: 100%;
}

.success-snackbar {
    background-color: #28a745;
}

// visible select options inside bootstrap modals 
.cdk-overlay-container {
    //position: fixed;
    z-index: 9999;
}

/* Reboot CSS (fcking annoying Reboot CSS)  */

label.mat-checkbox-layout {
    margin-bottom: 0;
}

// reducing the margin between form elements
div.form-group {
    margin-bottom: 0;
}

.tool-inside-table {
    min-width: 100px;
    width: 100%;
    text-align: center;
}

.rol-box {
    padding: 7px 20px;
    display: inline-block;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    label.mat-checkbox-layout {
        display: inline-block;
        width: 100%;
    }
}

/* END Reboot CSS  */

/* TYPOGRAPHY */

.modal-header {
    h4 {margin: 0;}
}

.app-container {
    min-height: 100%;
    position: relative;
    padding-bottom: 30px;
    .page-container {
        margin-right: 0;
        margin-left: 0;
    }
}

label.mat-form-field-label, input.mat-input-element {
    line-height: 18px;
    height: 17.7px;
 }


%ope-side{
    li{
        display: block;
        width: 100%;
        overflow: hidden;
        float: left;
        position: relative;

        &.dropdown{
            border: 0;
            margin-bottom: 0;
            border-radius: 0;
            box-shadow: none;
            > a {
                &::after{
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f107";
                    position: absolute;
                    right: 1em;
                }
            }
            
            div:first-of-type{                
                    background-color: #E4E4E4; 
                    &.show{display: block;}                     
            }

            li a {
                height: 44px;
                line-height: 44px;
                vertical-align: middle;
                padding: 0em 1.7em;
            }            
        }

        > a{
            /*padding: 0 10px 0 10px;
            height: 46px;
            line-height: 46px;
            display: block;
            white-space: nowrap;*/

            &:hover{
                text-decoration: none;
            }

            .icon {
                margin-left: 0px;
                width: 38px;
                text-align: center;
                font-size: 1.1em;
                display: inline-block;
            }
            span{
                width: 192px;
                display: inline-block;
            }
        }
    }
}

.open-sidebar {
    .navbar-fixed-top {
        padding-left: 250px;
    }

    .main-content{
        padding-left: 190px;
    }

    .side-menu {
        width: 250px;
        .sidebar-nav{
            @extend %ope-side
        }
    }
}

@media (max-width: 768px){   

    .page-container { 
        .navbar-fixed-top{
            padding-left: 20px;
            width: 100%;
        }
    }

    .side-menu{
        margin-left: -250px;
        width: 0px;
    }
    
        // .navbar_ {
        //     padding-left: 250px !important;
        //     width: 700px;
        // }
        .open-sidebar {
            .navbar-fixed-top {
                min-width: 750px;
                padding-left: 250px;
            }
    
            .side-menu{
                margin-left: 0;
            }

            .main-content{
                padding-left: 250px;
                min-width: 750px;
            }
        
            
        }

}

.side-menu:hover {
    width: 250px;    
    .sidebar-nav{
        @extend %ope-side
    }    
}

.navbar-fixed-top {
    top: 0;
    //border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    border-bottom: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    a.dropdown-toggle {
        height: 60px;
        line-height: 60px;
        padding: 0px 20px 0px 20px;
        color: #353d47;
        text-decoration: none;
    }
    /**
    not collapse
    */
    .collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .dropdown-menu {
        position: absolute;
    }
    /**
     end not collapse
    */
}


.navbar_ {
    z-index: 997;    
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    padding: 0;
    padding-left: 60px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    
}

@media (max-width: 768px){

    .navbar_ {
        padding-right: 0;
        
    }
}

.side-menu {
    overflow-y: auto;
    z-index: 998;
    position: fixed;
    width: 60px;
    height: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;

    //.vertical-nav {
        border: none;
        padding-left: 0px;
        background-color: #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
        .side-menu-header{
            width: 100%;
            border-bottom: 0px solid #e7e7e7;
            // background-color: #22A7F0;
            margin-bottom: 4px;
            @media (min-width: 768px){
                float: left;
            }

            .brand {
                width: 455px;
                line-height: 60px;
                height: 60px;
                padding: 0;
                width: 100%;
                overflow: hidden;
                font-family: 'Roboto Condensed', sans-serif;
                
            }
        }
        /* sidebar... body */
        .sidebar-nav{
            width: 100%;
            float: left;
            margin: 0;
            list-style: none;
            padding-left: 0;

            li {
                display: block;
                width: 100%;
                overflow: hidden;
                a {
                    padding: 0 10px 0 10px;
                    height: 46px;
                    line-height: 46px;
                    display: block;
                    white-space: nowrap;
                    .icon{
                        margin-left: 0px;
                        width: 38px;
                        text-align: center;
                        font-size: 1.1em;
                        display: inline-block;
                    }
                    span {
                        width: 0px;
                        white-space: nowrap;
                        padding-left: 6px;
                        display: none;
                    }
                }

                &.dropdown {
                    div:first-of-type{                
                        &.show{display: none;}                
                }
                }
            }

            
        }
    //}
}


.main-content {
    margin-left: 75px;
    margin-right: 15px;
    transition: all 0.25s;
    padding-top: 85px;
    //width: 100%;
}

@media (max-width: 768px){
    .main-content {
        margin-left: 0;
        margin-right: 0;
        //min-width: 100%;
    }
}


// .cdk-global-overlay-wrapper {
//     pointer-events: auto;
//     display: block;
//     position: relative;
//     overflow: auto;
//     text-align: center;
//   }
  
//   .cdk-global-overlay-wrapper::before {
//     content: '';
//     display: inline-block;
//     height: 100%;
//     white-space: nowrap;
//   }
  
//   .cdk-overlay-pane {
//     display: inline-block;
//     position: relative;
//     text-align: left;
//     white-space: normal;
//   }
