<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-white">
                    <div class="row">
                        <div class="col-12">
                            <span style="font-size: 1rem;">MANTENIMIENTO DE USUARIOS</span>
                        </div>

                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <label class="font-weight-bold">Fecha: &nbsp;&nbsp;</label>
                            <mat-form-field appearance="outline">
                                <mat-label>Seleccione un rango</mat-label>
                                <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                                    <input noKeyEventsHere matStartDate formControlName="start" placeholder="Inicio">
                                    <input noKeyEventsHere matEndDate formControlName="end" placeholder="Fin">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-right">
                            <button (click)="openCreate()" *authorize="'security_users_store'" class="btn btn-light">NUEVO</button>&nbsp;
                            <button (click)="search()" *authorize="'user_search'" class="btn btn-light">BUSCAR</button>&nbsp;
                            <button class="btn btn-light">EXPORTAR</button>&nbsp;
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div *authorize="'security_users'" class="table-responsive mat-elevation-z8 ">
                                <table (matSortChange)="dataSource.sortByFromMatSort($event)" style="width: 100%;" mat-table [dataSource]="dataSource" matSort class="">
                                    <ng-container matColumnDef="username">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> USUARIO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                                    </ng-container>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="fullname">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> NOMBRES </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> EMAIL </th>
                                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="cellphone">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> CELULAR </th>
                                        <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="createdAt">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> FECHA DE CREACIÓN </th>
                                        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef
                                            mat-sort-header> ESTADO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status==1?'Activo':'Inactivo'}} </td>
                                    </ng-container>
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="options">
                                        <th class="font-weight-bold text-muted text-center" mat-header-cell
                                            *matHeaderCellDef>
                                            OPCIONES
                                        </th>
                                        <td mat-cell *matCellDef="let user">
                                            <div class="tool-inside-table">
                                                <a *authorize="'security_users_show'" (click)="openInfo(user)" class="btn btn-light btn-sm"><i
                                                        class="fas fa-info-circle"></i></a>
                                                <a *authorize="'security_users_update'" (click)="openEdit(user)" class="btn btn-light btn-sm"><i
                                                        class="far fa-edit"></i></a>
                                                <a *authorize="'security_users_destroy'" (click)="openDelete(user)" class="btn btn-light btn-sm"><i
                                                        class="far fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator *ngIf="dataSource.page$ | async as page" [length]="page.total"
                                    [pageSize]="page.pageSize" [pageIndex]="page.pageNumber" [hidePageSize]="false"
                                    (page)="dataSource.fetch($event.pageIndex)">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>